better-ffmpeg-progress==4.0.1
google==3.0.0
google-genai==1.46.0
google-generativeai==0.8.5
moviepy==2.2.1
openai-whisper==20250625
pandas==2.3.3
praw==7.8.1
python-dotenv==1.1.1

# Please run following command if you have GPU to speed shorts generation 100x
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126